<!--

    <div class="form-group mt-4">
        <label class="col-form-label font-weight-bold">Username</label>
        <input type="text" class="form-control"  formControlName="status"
            placeholder="UserName">
      
    </div>

    <div class="form-group mt-4">
        <label class="col-form-label font-weight-bold">Password</label>
        <input type="text" class="form-control"  formControlName="status"
            placeholder="Password">
      
    </div>
-->
<div class="row g-0">

    <div class="col-md-6 g-0">

        <div class="leftside">

            <img src="../../assets/images/becsg.jpg" alt="bgimage" width="100%" height="100%">

        </div>
    </div>

    <div class="col-md-6 g-0">
        <div class="rightside ">
            <!--
            <img src="../../assets/images/redlogo.png" alt="logo" style="width: 100px; " class="float-right">
            -->
            <div class="fs-1 login">
                Log In
            </div>
            <div class="formcontainer" [formGroup]="details">

                <div class="form-group">
                    <label class="col-form-label labels">Email Address</label>
                    <input id="email" type="text" minlength=3 class="form-control" formControlName="email"  [(ngModel)]="HR_EMAIL"
                        placeholder="Enter Email Address" required>
                   

                </div>

                <div class="form-group mt-4">
                    <label class="col-form-label font-weight-bold labels">Password</label>
                    <input id="password" type="password" required class="form-control" formControlName="pass" [(ngModel)]="HR_PW"
                        placeholder="Enter Password">


                    <a href="https://csgsystems.sharepoint.com/sites/brand/Pages/CSG%20Facts%20%26%20Stats.aspx"
                        target="_blank">Read our<span style="color: red!;"> Privacy statement</span></a>
                </div>

                <div class="signin mt-5 ">
                 <!--   <a routerLink="/candidate"><button class="btn color"> Log In </button></a> -->

                 <button (click)="loginSubmit(details.value)" class="btn color"> Log In </button>
                </div>
            </div>

        </div>
    </div>
</div>