/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.fullw{
    width:1150px;
    margin: auto 0;
}

::-webkit-scrollbar {
    display: none;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #f10808 !important; 
    color: #fefefe;
    cursor: default;
}